#!/bin/sh

# bundle exec shotgun config.ru -o 192.168.XX.XXX
ip=`ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'`
bundle exec shotgun config.ru -o $ip
